/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html, body {
    height: 100%;
}

body {
    background: #555;
}

.container .left-col {
    position: fixed;
    -webkit-transition: all .2s ease-in;
    opacity: 0.4;
}

.container .left-col:hover {
    opacity: 1;
}

.container .left-col a {
    opacity: 0.6;
}

.container .left-col a:hover {
    opacity: 1;
}

.container .right-col {
    background: #efe;
    position: absolute;
    right: 0;
}

a:hover   { text-decoration: none; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post {
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* tags area */
.tags {
    margin: 25px 0;
}

.tags a {
  padding: 4px;
  display: inline-block;
}

/* comments area */
.comment {
    margin: 25px 0;
}

.comment h1 {
    font-size: 1.5em;
    margin: 15px 0;
}
