/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
body {
  width: 960px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #111;
  line-height: 1.7;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.2em;
}

a { text-decoration: none; }
a:hover { text-decoration: none; }

/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/
.container {
}

/*****************************************************************************/
/*
/* Contents
/*
/*****************************************************************************/
.content {
}

.content a:link { 
  text-decoration: none; 
  color: #000;
}

.content a:visited { 
  text-decoration: none; 
  color: #000;
}

.content .meta {
  text-align: right;
  padding: 0 .4em;
}

.content .item {
  background-color: #eee;
  padding: 1.5em 1em;
  margin: .5em 0;
  border-radius: .8em;
}

.content .item-title {
  font-size: 1.5em;
}

.content .item-content h1 {
  font-size: 1.3em;
  color: #296;
}

.content .item-content h2 {
  font-size: 1.1em;
  color: #296;
}

.content .item-content pre {
  background-color: #eef;
  padding: 0.4em .4em;
}

.content .item-content ul, .post ol {
  margin-left: 1.35em;
}

.content .item-content code {
  padding: 0 .2em;
}

.content .item-content pre code {
}

.content .item-content blockquote {
  margin: 0;
  padding: .01em 2em;
  border-left: .5em solid #227788;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post {
  background-color: #eee;
  padding: 1.5em 1em;
  margin: .5em 0;
  border-radius: .8em;
}

.post h1 {
  font-size: 2em;
  color: #296;
}

/* standard */
.post pre {
  background-color: #eef;
  padding: 0.4em .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  padding: 0 .2em;
}

.post pre code {
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post blockquote {
  margin: 0;
  padding: .01em 2em;
  border-left: .5em solid #227788;
}

/* comments area */
.comment {
    margin: 25px 0;
}

.comment h1 {
    font-size: 1.5em;
    margin: 15px 0;
}
