/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
body {
  width: 960px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #111;
  line-height: 1.7;
}

a { text-decoration: none; }

/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/
.container {
}

/*****************************************************************************/
/*
/* Default Layout
/*
/*****************************************************************************/
.layout-def h1 a {
  color: #000;
}

.layout-def h1 a:visited {
  color: #000;
}

.layout-def #banner {
  background-image: url(/img/tree.jpg); 
  border-radius: .6em;
  height: 312px; 
}

.layout-def #menu {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.layout-def #menu ul {
  list-style-type: none;
}

.layout-def #menu a { 
  color: #678;
  text-decoration: none; 
}

.layout-def #menu a:visited { 
  color: #678;
  text-decoration: none; 
}

/*****************************************************************************/
/*
/* Page Index
/*
/*****************************************************************************/
.page-index .meta {
  text-align: right;
  padding: 0 .4em;
}

.page-index .item {
  background-color: #eee;
  padding: 1.5em 1em;
  margin: .5em 0;
  border-radius: .8em;
}

.page-index .item-title {
  color: #228;
  font-size: 1.5em;
  font-weight: bold;
}

.page-index .item-content h1 {
  font-size: 1.3em;
  color: #296;
}

.page-index .item-content h2 {
  font-size: 1.1em;
  color: #296;
}

.page-index .item-content pre {
  background-color: #eef;
  padding: 0.4em .4em;
}

.page-index .item-content ul, ol {
  margin-left: 1.35em;
}

.page-index .item-content code {
  padding: 0 .2em;
}

.page-index .item-content pre code {
}

.page-index .item-content blockquote {
  margin: 0;
  padding: .01em 2em;
  border-left: .5em solid #227788;
}

/*****************************************************************************/
/*
/* Layout Posts
/*
/*****************************************************************************/
.layout-post .post {
  background-color: #eee;
  padding: 1.5em 1em;
  margin: .5em 0;
  border-radius: .8em;
}

.layout-post .post h1 {
  font-size: 2em;
  color: #296;
}

/* standard */
.layout-post .post pre {
  background-color: #eef;
  padding: 0.4em .4em;
}

.layout-post .post ul, .layout-post .post ol {
  margin-left: 1.35em;
}

.layout-post .post code {
  padding: 0 .2em;
}

.layout-post .post pre code {
}

/* terminal */
.layout-post .post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.layout-post .post pre.terminal code {
  background-color: #333;
}

.layout-post .post blockquote {
  margin: 0;
  padding: .01em 2em;
  border-left: .5em solid #227788;
}

/* comments area */
.layout-post .comment {
    margin: 25px 0;
}

.layout-post .comment h1 {
    font-size: 1.5em;
    margin: 15px 0;
}

/*****************************************************************************/
/*
/* Page Archives
/*
/*****************************************************************************/

.page-archives {
  margin: 5px 0;
  padding: 1em 2em; 
  border-radius: .6em;
  background-color: #eee;
}

.page-archives .item {
  margin: .3em 0;
}

.page-archives .item .item-left {
  float: left;
}

.page-archives .item .item-left a {
  font-size: 1.1em;
  color: #258;
}

.page-archives .item .item-right {
  float: right;
  color: #232;
}
